/* * {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
} */
/* .main {
  margin: 2%;
} */

/* .logo {
  position: relative;
  width: 10%;
  height: 18%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.search {
  position: absolute;
  top: 50px;
  left: 45%;
}
.pop-picks {
  position: absolute;
  left: 200px;

  font-size: 25px;
}
.user_profile {
  position: absolute;
  right: 10px;

  width: 2.5%;
  height: 5%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.packages {
  position: absolute;
  left: 200px;

  font-size: 25px;
} */
/* div > a {
  position: absolute;
  top: 70px;
  right: 55px;
} */
/* .card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 50px 20px 15px 40px;
}
.card:hover {
  padding: 10px;
  border-radius: 10px;
  border: white;
} */

/* .image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} */
/* .pop-image1 img {
  width: 100%;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} */

/* .pop-image2 img {
  width: 100%;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} */
/* .card2 {
  position: absolute;
  width: 35%;
  right: 50px;
  top: 75%;
  height: 580px;
} */
/* 
.title {
  text-align: center;
  padding: 10px;
} */

/* h1 {
  font-size: 20px;
} */

/* .des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
} */
/* .pop-des1 {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
} */
/* .pop-des2 {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
} */

/* button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: rgb(2, 2, 2);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer; */
/* } */
/* regish */
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
}
h1 {
  font-size: 20px;
}

.user_profile {
  position: absolute;
  right: 10px;
  top: 40px;

  width: 3.5%;
  height: 6%;
  /* -webkit-filter: invert(100%);
  filter: invert(100%); */
}
.user {
  position: absolute;
  right: 5px;
  top: 80px;
}

.image img {
  width: 100%;
  border-radius: 5px;
  border-top-left-radius: 5px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;

  padding: 10px;
}
.containe {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
  margin-bottom: 10rem;
}

.containe .card {
  width: 50%;
}
/* .containe img {
  width: 80vh;
} */
/* div {
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
} */

.card {
  padding-top: 10px;
  /* width: 20%; */
  /* display: inline-block; */
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  text-align: center;
  /* margin: 50px 20px 15px 40px; */
}
.card:hover {
  padding: 10px;
  border-radius: 10px;
  border: white;
}

.card2 {
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  text-align: center;
}

.card2:hover {
  padding: 10px;
  border-radius: 10px;
  border: white;
}
/* .card2 img {
  height: 100vh;
  width: 100%;
} */

.card img {
  /* width: inherit; */
  height: 200px;
  width: 200px;
}

.title {
  text-align: center;
  padding: 10px;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* .pop-des1 {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pop-des2 {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
*/
.packages {
  width: 3000px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: rgb(2, 2, 2);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}

.card img {
  height: 50%;
}

.des button {
  margin-bottom: auto;
}

.pop-image1 img {
  width: 100%;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pop-image2 img {
  width: 100%;
  height: 300px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.pop-picks {
  margin-top: 10px;
  text-align: center;
  text-size-adjust: 20rem;
}

.packages {
  text-align: center;
}
